#network
  height: 600px
  border: 1px solid lightgray
  background: #F3F3F3

.tweet
  border: 1px solid lightgray
  margin-bottom: 4px
  padding: 2px 2px 2px 2px
  & .screen_name
    font-weight: bold
