border-radius()
  border-radius: arguments
  -webkit-border-radius: arguments

html, body
  height: 100%
  margin: 0

.full-height
  height: 100%

#network
  height: 60%
  border: 1px solid lightgray
  background: #f8f8f8

#info
  height: 40%
  overflow-y: scroll

.tweet
  border: 1px solid lightgray
  border-radius: 4px
  margin: 4px 4px 4px 4px
  padding: 4px 4px 4px 4px
  & .screen_name
    font-weight: bold
  & .thumb
    width: 100px
    height: 100px
    margin: 0 4px 4px 0
  & .created_at
    font-size: 90%

.yrc-title
  font-size: 150%
  font-weight: bolder

@media (min-width: 768px)
  #network
    height: 100%

  #info
    height: 100%
