border-radius()
  border-radius: arguments
  -webkit-border-radius: arguments

#network
  height: 600px
  border: 1px solid lightgray
  background: #f8f8f8

.tweet
  border: 1px solid lightgray
  border-radius: 4px
  margin: 4px 4px 4px 4px
  padding: 4px 4px 4px 4px
  & .screen_name
    font-weight: bold

.yrc-title
  font-size: 150%
  font-weight: bolder
